#nav-text {
    color: black;
}

.button-text {
    font-size: 10px;
}

#right-button {
    background-color: rgb(5, 81, 232);
    border-radius: 8px;
}

#left-button {
    border-color: rgb(5, 81, 232);
    color: rgb(5, 81, 232);
    border-radius: 8px;
}

#left-button:hover {
    background-color: rgb(5, 81, 232);
    color: white;
}

#right-button:hover {
    background-color: white;
    color:rgb(5, 81, 232);
}



@media (min-width: 0px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        background-color: rgb(5, 81, 232);
        visibility: hidden;
    }
    #left-button {
        border-color: rgb(5, 81, 232);
        color: rgb(5, 81, 232);
        visibility: hidden;
    }
    #logo {
        position: fixed;
    }
}

@media (min-width: 576px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        background-color: rgb(5, 81, 232);
        visibility: hidden;
    }
    #left-button {
        border-color: rgb(5, 81, 232);
        color: rgb(5, 81, 232);
        visibility: hidden;
    }
    #logo {
        position: fixed;
    }
}

@media (min-width: 768px) {
    #nav-text {
        font-size: 8px;
    }
    #right-button {
        background-color: rgb(5, 81, 232);
        visibility: visible;
    }
    #left-button {
        border-color: rgb(5, 81, 232);
        color: rgb(5, 81, 232);
        visibility: visible;
    }
    #logo {
        position: relative;
    }
}

@media (min-width: 992px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        background-color: rgb(5, 81, 232);
        visibility: visible;
    }
    #left-button {
        border-color: rgb(5, 81, 232);
        color: rgb(5, 81, 232);
        visibility: visible;
    }
    #logo {
        position: relative;
    }
}

@media (min-width: 1200px) {
    #nav-text {
        font-size: 10px;
    }
    #right-button {
        background-color: rgb(5, 81, 232);
        visibility: visible;
    }
    #left-button {
        border-color: rgb(5, 81, 232);
        color: rgb(5, 81, 232);
        visibility: visible;
    }
    #logo {
        position: relative;
    }
}

@media (min-width: 1400px) {
    #nav-text {
        font-size: 11px;
    }
    #right-button {
        background-color: rgb(5, 81, 232);
        visibility: visible;
    }
    #left-button {
        border-color: rgb(5, 81, 232);
        color: rgb(5, 81, 232);
        visibility: visible;
    }
    #logo {
        position: relative;
    }
}