#nav-text {
    color: black;
}

.button-text {
    font-size: 10px;
}

.button-radius {
    border-radius: 8px;
    font-size: 12px;
}

#title {
    font-size: 42px;
}

.p-size {
    font-size: 11px;
}

.p-color {
    color: rgb(159, 159, 159);
}

.tiny-font {
    font-size: 9px;
}

.card {
    border-radius: 15px;
}

hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.big-container {
    display: flex;
    justify-content: space-around;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 4%;
}

.big-container p {
   margin-bottom: 7px;
}

.big-container img {
    margin-bottom: 10px;
}

.small-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 80px;
    height: 90px;
    border: solid lightgray 1px;
    border-radius: 8px;
    font-size: 10px;
    color: darkgray;
}

#money-card {
    background-color: #0d6efd;
    color: white;
}

#money-sign {
    border-radius: 50%;
}

@media (min-width: 0px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        visibility: hidden;
    }
    #left-button {
        visibility: hidden;
    }
    #logo {
        position: fixed;
        width: 100px;
        margin-top: 0;
    }
    #logo-padding {
        padding-bottom: 26px;
    }
}

@media (min-width: 576px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        visibility: hidden;
    }
    #left-button {
        visibility: hidden;
    }
    #logo {
        position: fixed;
    }
    #logo-padding {
        padding-bottom: 26px;
    }
}


@media (min-width: 768px) {
    #nav-text {
        font-size: 8px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
}

@media (min-width: 992px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
}

@media (min-width: 1200px) {
    #nav-text {
        font-size: 10px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
}

@media (min-width: 1400px) {
    #nav-text {
        font-size: 11px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
}