/* css for index.html */

#nav-text {
    color: black;
}

.button-radius {
    border-radius: 8px;
    font-size: 12px;
}

#title {
    font-size: 42px;
}

.p-size {
    font-size: 11px;
}

.p-color {
    color: rgb(159, 159, 159);
}

.tiny-font {
    font-size: 9px;
}

.really-tiny-font {
    font-size: 7px;
}

.card {
    border-radius: 15px;
}

hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.big-container {
    display: flex;
    justify-content: space-around;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 4%;
}

.big-container p {
   margin-bottom: 7px;
}

.big-container img {
    margin-bottom: 10px;
}

.small-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 80px;
    height: 90px;
    border: solid lightgray 1px;
    border-radius: 8px;
    font-size: 10px;
    color: darkgray;
}

#money-card {
    background-color: #0d6efd;
    color: white;
}

#money-sign {
    border-radius: 50%;
}

.row-4-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 12%;
    margin-right: 12%;
    border: solid lightgray 1px;
    border-radius: 15px;
}

#right-side-blue {
    background-color: #0d6efd;
    border-radius: 0 15px 15px 0;
    color: white;
    padding: 70px 70px 70px 30px;
}

#list-tics {
    list-style-type: "- ";
    padding-left: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 6px;
}

#list-tics li {
    margin-bottom: 8px;
}

#button-5 {
    border: solid 1px white;
    font-size: 8px;
    padding-left: 30px;
}

.section-5 {
    margin-top: 10%;
    margin-bottom: 7%;
}

.blue-circle {
    background-color: #e9eefc;
    padding: 30px 20px;
    width: 95px;
    border: solid 1px lightgray;
    border-radius: 50%;
}

.icons {
    margin: 0 12px
}

.button-6 {
    font-size: 8px;
    padding-left: 30px;
}

.row-5 {
    display: flex;
    justify-content: center;
}

.subrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

footer {
    background-color: #0d6efd;
    width: 100%;
    height: 220px;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
}

.green-button {
    background-color: #75d435;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
}

.white-button {
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
}

@media (min-width: 0px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        visibility: hidden;
    }
    #left-button {
        visibility: hidden;
    }
    #logo {
        position: absolute;
        width: 100px;
        margin-top: 0;
    }
    #logo-padding {
        padding-bottom: 26px;
    }
    .row-5 {
        flex-direction: column;
        align-items: center;
    }
    .row-4-container {
        flex-direction: column;
        align-items: center;
    }
    #right-side-blue {
        background-color: #0d6efd;
        border-radius: 0 0 15px 15px ;
        color: white;
        padding: 70px 70px 70px 70px;
        text-align: center;
    }
    #list-tics {
        list-style-type: none;
    }

    .center-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
   }
   .move-left {
        margin-right: 18%;
   }
   #big-img {
    margin-left: 11%;
   }
}

@media (min-width: 576px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        visibility: hidden;
    }
    #left-button {
        visibility: hidden;
    }
    #logo {
        position: absolute;
    }
    #logo-padding {
        padding-bottom: 26px;
    }
    .row-5 {
        flex-direction: row;
    }
    .row-4-container {
        flex-direction: column;
        align-items: center;
    }
}


@media (min-width: 768px) {
    #nav-text {
        font-size: 8px;
    }
    .button-text {
        font-size: 9px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
    .row-4-container {
        flex-direction: row;
    }
    #right-side-blue {
        background-color: #0d6efd;
        border-radius: 0 15px 15px 0;
        color: white;
        padding: 70px 70px 70px 30px;
        text-align: left;
    }
    #list-tics {
        list-style-type: "- ";
    }
}

@media (min-width: 869px) {
    .center-header {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
   }
    .move-left {
        margin-right: 0;
}
    #big-img {
        margin-left: 0;
   }
}

@media (min-width: 992px) {
    #nav-text {
        font-size: 9px;
    }
    .button-text {
        font-size: 10px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
}

@media (min-width: 1200px) {
    #nav-text {
        font-size: 10px;
    }
    .button-text {
        font-size: 10px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
}

@media (min-width: 1400px) {
    #nav-text {
        font-size: 11px;
    }
    .button-text {
        font-size: 10px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
}


/* css for works.html */
/*P1*/
.p1 {
    margin: 1px;
    padding: 15px;
    width: 100%;
    min-height:100%;
    display: flex;/*keep this!*/
    flex-direction: column;/*keep this!*/
    align-items: stretch;/*keep this!*/
    justify-content: center;/*keep this!*/
}

.p1-text {
    display: flex;/*keep this!*/
    flex-direction: column;/*keep this!*/
    flex-wrap: wrap;
    width: 70%;/*keep this!*/
    position: relative;  
    justify-content: flex-start;
    align-items: flex-start;/*keep this!*/
}
    
.p1-par {
    width: 75%;
    justify-content: flex-start;
    text-align: flex-start;
    align-content: flex-start;
    color: gray;
}

.p1-btns {
    display: flex;/*keep this!*/
    flex-direction: row;/*keep this!*/
    flex-wrap: nowrap;/*keep this!*/
    justify-content: flex-start;/*keep this!*/
    align-content: space-around;
}

    .button1 {
        margin: 0;
        justify-content: flex-start;
        padding-right: 10px;
    }

    .button2 {
        padding-left: 10px;
    }

.link-msg {
    color: gray;
}

.focus-footer {
    display: flex;/*keep this!*/
    flex-direction: row;/*keep this!*/
    flex-wrap: nowrap;/*keep this!*/
    justify-content: space-between;
} 

    .oval {
        background-color: #0d6efd;
        width: 10px;
        height: 15px;
        border-radius: 50px/75px;
    }

.p1-image {/*keep this!*/
    order: 1;
    flex: 1, 0, auto;
    align-self: flex-start;
    margin:0;
    padding: 5px;
    width: 50%;
    height: auto;   
}

/* P2 section: line, heading, paragraph */
.p2 {
    color: black;
    position: relative;
}
/* section-break for P2 section */
    .p2-section-break {
        border: 0;
        border-top: 1px solid;
        display: block;
        height: 0;
        margin: 3rem auto 3rem;
        text-align: center;
        width: 60%;
    }
/* Remember spacing between section-break & title!*/
    .p2-title{
        border: 0;
        border-bottom: 0;
        display: block;
        height: 0;
        margin: 3rem auto 3rem;
        text-align: center;
        width: 50%; 
    }
    .p2-par {
        padding: .5rem 3rem 3rem;
        margin: 3rem auto 3rem;
        width: 70%;
        text-align: center;
        align-content: center;
    }

/* P3*/
.p3 {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 85%;
    min-height:100%;
    display: flex;/*keep this!*/
    flex-direction: row;/*keep this!*/
    flex-wrap: nowrap;/*keep this!*/
    align-items: stretch;/*keep this!*/
    justify-content: center;/*keep this!*/
    border-radius: 25px; /*keep this!*/
    overflow: hidden;/*keep this!*/
    border: solid 1px lightgray;
}

    .p3-image {/*keep this!*/
        order: 0;
        flex: 0, 1, auto;
        align-self: flex-start;
        margin:0;
        padding: 10px;
        width: 40%;
        height: auto;   
    }

    .p3-text {
        display: flex;/*keep this!*/
        flex-direction: column;/*keep this!*/
        column-gap: 5px;
        padding: 20px;/*keep this!*/
        width: 60%;/*keep this!*/
        position: relative;  
        justify-content: center;
        align-content: space-between;
        align-items: center;/*keep this!*/
        background-color: #0d6efd;/*keep this!*/
        color: white;/*keep this!*/
    }
  /*When Go Live hiccups: http://127.0.0.1:5500/[file-name]*/
    .p3-title{
        border: 0;
        border-bottom: 0;
        height: 0;
        margin-top:0;
        margin: 3rem auto 3rem;
        text-align: center;
       /* justify-content: center;
        align-items: center;*/
    }
    .p3-par {
        margin: 3rem auto 3rem;
        width: 75%;
        text-align: flex-start;
        align-content: center;
        /*width: 45%;
        justify-content: center;
        align-items: center;*/
    }

/* P4 section: paragraph */
.p4 {
    color: black;
    position: relative;
    }
    .p4-par {
        padding: .5rem 3rem 3rem;
        margin: 3rem auto 3rem;
        width: 70%;
        text-align: center;
    }

/* P5 section */
.p5 {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
    width: 85%;
    min-height:100%;
    display: flex;/*keep this!*/
    flex-direction: row;/*keep this!*/
    flex-wrap: nowrap;/*keep this!*/
    align-items: stretch;/*keep this!*/
    justify-content: center;/*keep this!*/
    border-radius: 25px; /*keep this!*/
    overflow: hidden;/*keep this!*/
    border: solid 1px lightgray;
}

    .p5-image {/*keep this!*/
        order: 0;
        flex: 0, 1, auto;
        align-self: flex-start;
        margin:0;
        padding: 10px;
        width: 40%;
        height: auto;   
    }

    .p5-text {
        display: flex;/*keep this!*/
        flex-direction: column;/*keep this!*/
        column-gap: 5px;
        padding: 20px;/*keep this!*/
        width: 60%;/*keep this!*/
        position: relative;  
        justify-content: center;
        align-content: space-between;
        align-items: center;/*keep this!*/
        background-color: #0d6efd;/*keep this!*/
        color: white;/*keep this!*/
    }
 
    .p5-title{
        border: 0;
        border-bottom: 0;
        height: 0;
        margin-top:0;
        margin: 3rem auto 3rem;
        text-align: center;
       /* justify-content: center;
        align-items: center;*/
    }
    .p5-par {
        margin: 3rem auto 3rem;
        width: 75%;
        text-align: flex-start;
        align-content: center;
        /*width: 45%;
        justify-content: center;
        align-items: center;*/
    }   


    /* css for sign-in.html */

    