/* Navbar - provided by Rebecca */
#nav-text {
    color: black;
  }
  
  .button-text {
    font-size: 10px;
  }
  
  .button-radius {
    border-radius: 8px;
    font-size: 12px;
  }
  
  @media (min-width: 0px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        visibility: hidden;
    }
    #left-button {
        visibility: hidden;
    }
    #logo {
        position: fixed;
        width: 100px;
        margin-top: 0;
    }
    #logo-padding {
        padding-bottom: 26px;
    }
  }
  
  @media (min-width: 576px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        visibility: hidden;
    }
    #left-button {
        visibility: hidden;
    }
    #logo {
        position: fixed;
    }
    #logo-padding {
        padding-bottom: 26px;
    }
  }
  
  
  @media (min-width: 768px) {
    #nav-text {
        font-size: 8px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
  }
  
  @media (min-width: 992px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
  }
  
  @media (min-width: 1200px) {
    #nav-text {
        font-size: 10px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
  }
  
  @media (min-width: 1400px) {
    #nav-text {
        font-size: 11px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
  }

/*P1*/
.p1 {
    margin: 1px;
    padding: 15px;
    width: 100%;
    min-height:100%;
    display: flex;/*keep this!*/
    flex-direction: row;/*keep this!*/
    align-items: stretch;/*keep this!*/
    justify-content: center;/*keep this!*/
}

.p1-text {
    display: flex;/*keep this!*/
    flex-direction: column;/*keep this!*/
    flex-wrap: wrap;
    width: 70%;/*keep this!*/
    position: relative;  
    justify-content: flex-start;
    align-items: flex-start;/*keep this!*/
}
    
.p1-par {
    width: 75%;
    justify-content: flex-start;
    text-align: flex-start;
    align-content: flex-start;
    color: gray;
}

.p1-btns {
    display: flex;/*keep this!*/
    flex-direction: row;/*keep this!*/
    flex-wrap: nowrap;/*keep this!*/
    justify-content: flex-start;/*keep this!*/
    align-content: space-around;
}

    .button1 {
        margin: 0;
        justify-content: flex-start;
        padding-right: 10px;
    }

    .button2 {
        padding-left: 10px;
    }

.link-msg {
    color: gray;
}

.focus-footer {
    display: flex;/*keep this!*/
    flex-direction: row;/*keep this!*/
    flex-wrap: nowrap;/*keep this!*/
    justify-content: space-between;
} 

    .oval {
        background-color: blue;
        width: 10px;
        height: 15px;
        border-radius: 50px/75px;
    }

.p1-image {/*keep this!*/
    order: 1;
    flex: 1, 0, auto;
    align-self: flex-start;
    margin:0;
    padding: 5px;
    width: 50%;
    height: auto;   
}

/* P2 section: line, heading, paragraph */
.p2 {
    color: black;
    position: relative;
}
/* section-break for P2 section */
    .p2-section-break {
        border: 0;
        border-top: 1px solid;
        display: block;
        height: 0;
        margin: 3rem auto 3rem;
        text-align: center;
        width: 50%;
    }
/* Remember spacing between section-break & title!*/
    .p2-title{
        border: 0;
        border-bottom: 0;
        display: block;
        height: 0;
        margin: 3rem auto 3rem;
        text-align: center;
        width: 50%; 
    }
    .p2-par {
        padding: .5rem 3rem 3rem;
        margin: 3rem auto 3rem;
        width: 45%;
        text-align: center;
        align-content: center;
    }

/* P3*/
.p3 {
    margin: 1px;
    padding: 0;
    width: 100%;
    min-height:100%;
    display: flex;/*keep this!*/
    flex-direction: row;/*keep this!*/
    flex-wrap: nowrap;/*keep this!*/
    align-items: stretch;/*keep this!*/
    justify-content: center;/*keep this!*/
    border-radius: 25px; /*keep this!*/
    overflow: hidden;/*keep this!*/
    border-style: solid 5px gray;
}

    .p3-image {/*keep this!*/
        order: 0;
        flex: 0, 1, auto;
        align-self: flex-start;
        margin:0;
        padding: 10px;
        width: 40%;
        height: auto;   
    }

    .p3-text {
        display: flex;/*keep this!*/
        flex-direction: column;/*keep this!*/
        column-gap: 5px;
        padding: 20px;/*keep this!*/
        width: 60%;/*keep this!*/
        position: relative;  
        justify-content: center;
        align-content: space-between;
        align-items: center;/*keep this!*/
        background-color: blue;/*keep this!*/
        color: white;/*keep this!*/
    }
  /*When Go Live hiccups: http://127.0.0.1:5500/[file-name]*/
    .p3-title{
        border: 0;
        border-bottom: 0;
        height: 0;
        margin-top:0;
        margin: 3rem auto 3rem;
        text-align: center;
       /* justify-content: center;
        align-items: center;*/
    }
    .p3-par {
        margin: 3rem auto 3rem;
        width: 75%;
        text-align: flex-start;
        align-content: center;
        /*width: 45%;
        justify-content: center;
        align-items: center;*/
    }
