/* Navbar - provided by Rebecca */
#nav-text {
    color: black;
  }
  
  .button-text {
    font-size: 10px;
  }
  
  .button-radius {
    border-radius: 8px;
    font-size: 12px;
  }
  
  @media (min-width: 0px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        visibility: hidden;
    }
    #left-button {
        visibility: hidden;
    }
    #logo {
        position: fixed;
        width: 100px;
        margin-top: 0;
    }
    #logo-padding {
        padding-bottom: 26px;
    }
  }
  
  @media (min-width: 576px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        visibility: hidden;
    }
    #left-button {
        visibility: hidden;
    }
    #logo {
        position: fixed;
    }
    #logo-padding {
        padding-bottom: 26px;
    }
  }
  
  
  @media (min-width: 768px) {
    #nav-text {
        font-size: 8px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
  }
  
  @media (min-width: 992px) {
    #nav-text {
        font-size: 9px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
  }
  
  @media (min-width: 1200px) {
    #nav-text {
        font-size: 10px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
  }
  
  @media (min-width: 1400px) {
    #nav-text {
        font-size: 11px;
    }
    #right-button {
        visibility: visible;
    }
    #left-button {
        visibility: visible;
    }
    #logo {
        position: relative;
    }
    #logo-padding {
        padding-bottom: 5px;
    }
  }

  /*P1*/
  
