.p3 {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height:100%;
    display: flex;/*keep this!*/
    flex-direction: row;/*keep this!*/
    flex-wrap: nowrap;/*keep this!*/
    align-items: stretch;/*keep this!*/
    justify-content: center;/*keep this!*/
    border-radius: 25px; /*keep this!*/
    overflow: hidden;/*keep this!*/
}

    .p3-image {/*keep this!*/
        order: 0;
        flex: 0, 1, auto;
        align-self: flex-start;
        margin:0;
        padding: 10px;
        width: 40%;
        height: auto;   
    }

    .p3-text {
        order: 1;/*keep this!*/
        margin: 0; /*keep this!*/
        padding: 15px;/*keep this!*/
        width: 60%;/*keep this!*/
        position: relative;  
        display: flex;/*keep this!*/
        flex-direction: column;/*keep this!*/
        justify-content: center;
        align-content: space-between;
        align-items: center;/*keep this!*/
        background-color: blue;/*keep this!*/
        color: white;/*keep this!*/
    }
  
    .p2-title{
        order: 0;
        justify-content: center;
        align-items: center;
    }
    .p2-par {
        order: 1;
        justify-content: center;
        align-items: center;
    }
  
  