.p3-row {
    overflow: auto;
}

    .container-img {
        float: left;
        width: 25%;     
    }

/* Could not get html to connect to images in image folder; moved all images inside works folder*/
        .p3-image {
            display: block;
            margin: auto;
            text-align: center;
            width: 100%;
            height: auto;
        }

    .container-bluebox {
        float: left;
        width: 75%;
    }

        #bb-style {
        border-radius: 10px;
        background-color: blue;
        color: white;
        }

        .p3-title {
            border: 0;
            border-bottom: 0;
            display: block;
            height: 0;
            margin: 3rem auto 3rem;
            text-align: center;
            width: 50%; 
        }

        .p3-par {
            padding: .5rem 3rem 3rem;
            margin: 3rem auto 3rem;
            width: 75%;
            text-align: center;
            align-content: center;
        }

